@import url(http://fonts.googleapis.com/css?family=Lobster);

body{
	font-family: 'Lobster', cursive;
	color: #999;
	background-image: url("http://cdn.jjy1058.com/2015/04/14/cutegalaxytumblr-l-6716c796f438e519.jpg");
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

.container{
	width: 600px;
	height: 500px;
	margin-top: 60px;
	background: #f1f1f1;
	text-align: center;
	padding-top: 30px;
	margin-left: 350px;
	font-size: 30px;
	opacity: .8;
}

