@import url(http://fonts.googleapis.com/css?family=Lobster);

body{
	font-family: 'Lobster', cursive;
	color: #999;
	background-image: url("http://cdn.jjy1058.com/2015/04/14/cutegalaxytumblr-l-6716c796f438e519.jpg");
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

.container{
	width: 600px;
	height: 500px;
	margin-top: 60px;
	background: #f1f1f1;
	text-align: center;
	padding-top: 30px;
	margin-left: 350px;
	font-size: 30px;
	opacity: .8;
}

/*iPhone 6 Portrait*/
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation : portrait) { 
	body{
	font-family: 'Lobster', cursive;
	color: #999;
	background-image: url("http://cdn.jjy1058.com/2015/04/14/cutegalaxytumblr-l-6716c796f438e519.jpg") no-repeat center center fixed;
	background-position: center;
	}
	.container{
		width: 300px;
		height: 400px;
		background: #f1f1f1;
		text-align: center;
		font-size: 25px;
		opacity: .8;
		margin-left: 30px;
		margin-top: 120px;
		
	}

}